In [2]:
import pandas as pd

In [36]:
egdp = pd.read_csv("bolivia_egdp.csv")
#egdp.drop(columns = {"id"}, inplace=True)

landCover = pd.read_csv("landcover_bolivia.csv")
urb_land = landCover.drop(columns = {"total_sol", "agriculture_sol"})
urb_land = urb_land.rename(columns= {"cityCode":"id"})

agr_land = landCover.drop(columns={"total_sol", "urban_sol"})
agr_land = agr_land.rename(columns={"cityCode":"id"})
agr_land

      year  agriculture_sol               city   id
0     2001         0.000000             Loreto   45
1     2001         0.000000        San Ignacio   56
2     2001         0.000000         San Javier   57
3     2001         0.000000          Huacaraje   70
4     2001         4.411646        San Joaquín   73
...    ...              ...                ...  ...
7453  2022       927.362608  Villa San Lorenzo   97
7454  2022        62.931175          El Puente   98
7455  2022      1751.407354             Tarija  101
7456  2022       172.203412            Bermejo  321
7457  2022        36.576058            Padcaya  338

[7458 rows x 4 columns]

In [37]:
urb_land.columns

Index(['year', 'urban_sol', 'city', 'id'], dtype='object')

In [38]:
egdp_wide = egdp.pivot(index=["id", "shapeName"], columns="year", values="total_sol")
egdp_wide = egdp_wide.add_prefix("egdp")

urb_wide = urb_land.pivot(index=["id", "city"], columns="year", values="urban_sol")
urb_wide = urb_wide.add_prefix("urb_land")

agr_wide = agr_land.pivot(index=["id", "city"], columns="year", values="agriculture_sol")
agr_wide = agr_wide.add_prefix("agr_land")

In [39]:
urb_wide.columns

Index(['urb_land2001', 'urb_land2002', 'urb_land2003', 'urb_land2004',
       'urb_land2005', 'urb_land2006', 'urb_land2007', 'urb_land2008',
       'urb_land2009', 'urb_land2010', 'urb_land2011', 'urb_land2012',
       'urb_land2013', 'urb_land2014', 'urb_land2015', 'urb_land2016',
       'urb_land2017', 'urb_land2018', 'urb_land2019', 'urb_land2020',
       'urb_land2021', 'urb_land2022'],
      dtype='object', name='year')

In [40]:
databases = [agr_wide]
sat = pd.merge(egdp_wide, urb_wide, on="id", how="outer")

for database in databases:
    sat = pd.merge(sat, database, on="id", how="outer")

In [44]:
sat.to_csv("Satelite_data.csv")