In [1]:
ntl_wide = ntl_mean.pivot(index = ["id", "shapeName"], columns = "year", values = "total_sol")
ntl_sum_wide = ntl_wide.add_prefix("ntl_")
ntl_sum_wide.columns
ntl_wide_reset = ntl_wide.reset_index()  # Reset the index

NameError: name 'ntl_mean' is not defined

In [2]:
import pandas as pd

In [25]:
egdp = pd.read_csv("bolivia_egdp.csv")
#egdp.drop(columns = {"id"}, inplace=True)

landCover = pd.read_csv("landcover_bolivia.csv")
urb_land = landCover.drop(columns = {"total_sol", "agriculture_sol"})
urb_land = urb_land.rename(columns= {"cityCode":"id"})
#agr_land = landCover.drop(columns={"total_sol", "urban_sol"})
#agr_land

In [26]:
urb_land.columns

Index(['year', 'urban_sol', 'city', 'id'], dtype='object')

In [28]:
egdp_wide = egdp.pivot(index=["id", "shapeName"], columns="year", values="total_sol")
egdp_wide = egdp_wide.add_prefix("egdp")

urb_wide = urb_land.pivot(index=["id", "city"], columns="year", values="urban_sol")
urb_wide = urb_wide.add_prefix("urb_land")

In [29]:
urb_wide.columns

Index(['urb_land2001', 'urb_land2002', 'urb_land2003', 'urb_land2004',
       'urb_land2005', 'urb_land2006', 'urb_land2007', 'urb_land2008',
       'urb_land2009', 'urb_land2010', 'urb_land2011', 'urb_land2012',
       'urb_land2013', 'urb_land2014', 'urb_land2015', 'urb_land2016',
       'urb_land2017', 'urb_land2018', 'urb_land2019', 'urb_land2020',
       'urb_land2021', 'urb_land2022'],
      dtype='object', name='year')

In [30]:
sat = pd.merge(egdp_wide, urb_wide, on="id", how="outer")

In [31]:
sat

year,egdp1992,egdp1993,egdp1994,egdp1995,egdp1996,egdp1997,egdp1998,egdp1999,egdp2000,egdp2001,...,urb_land2013,urb_land2014,urb_land2015,urb_land2016,urb_land2017,urb_land2018,urb_land2019,urb_land2020,urb_land2021,urb_land2022
id,,,,,,,,,,,,,,,,,,,,,
0,9.841833,10.120295,10.433873,10.757316,11.068601,11.432251,11.813545,11.846990,12.044015,12.178501,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,15.909156,16.359285,16.866179,17.389018,17.892206,18.480040,19.096395,19.150457,19.468946,19.686340,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,17.378421,17.870121,18.423828,18.994953,19.544612,20.186735,20.860013,20.919068,21.266969,21.504441,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,29.115081,31.702251,32.941582,34.683048,36.866041,38.260194,39.590650,39.908588,41.190774,42.224032,...,355.160182,367.906971,413.543046,486.786762,462.030631,538.099996,515.804994,444.434997,455.805004,464.310006
4,8.896404,9.148116,9.431571,9.723943,10.005325,10.334042,10.678708,10.708940,10.887039,11.008606,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,40.622615,41.771979,43.066288,44.401310,45.686155,47.187138,48.766946,48.905006,49.718337,50.273502,...,1.254882,4.644307,5.030808,4.436374,4.895093,4.950000,9.515000,8.480000,8.480000,7.770000
335,110.382107,113.505227,117.022196,120.649852,124.141110,128.221110,132.497604,132.872706,135.082490,136.590850,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
336,36.579590,37.621999,38.940809,40.165984,41.401073,42.768805,44.195252,44.349411,45.127559,45.631627,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
337,79.350290,86.806697,92.473700,95.915445,99.559252,103.230407,106.516053,106.295897,107.656011,108.268803,...,322.223933,386.937917,451.182560,495.108385,590.187676,678.539684,726.000970,660.810332,674.485428,651.174429
338,79.040649,81.314638,83.857160,86.302446,88.823194,91.807259,94.843341,95.025903,96.533613,97.477970,...,28.701424,31.718105,30.034037,31.507363,36.858245,33.150000,33.655000,25.260001,16.295000,18.715000

In [ ]:
sat.to_csv("Satte")