In [ ]:
ntl_wide = ntl_mean.pivot(index = ["id", "shapeName"], columns = "year", values = "total_sol")
ntl_sum_wide = ntl_wide.add_prefix("ntl_")
ntl_sum_wide.columns
ntl_wide_reset = ntl_wide.reset_index()  # Reset the index

In [1]:
import pandas as pd

In [12]:
egdp = pd.read_csv("bolivia_egdp.csv")
egdp.drop(columns = {"id"}, inplace=True)

landCover = pd.read_csv("landcover_bolivia.csv")
urb_land = landCover.drop(columns = {"total_sol", "agriculture_sol", "cityCode"})
urb_land

      year    urban_sol         city  cityCode
0     2001     0.000000       Loreto       NaN
1     2001     0.000000  San Ignacio       NaN
2     2001     0.000000   San Javier       NaN
3     2001     0.000000    Huacaraje       NaN
4     2001     0.000000  San Joaquín       NaN
...    ...          ...          ...       ...
7453  2022    31.523333  San Lorenzo       NaN
7454  2022     0.000000    El Puente       NaN
7455  2022  2503.281848       Tarija       NaN
7456  2022   314.400573      Bermejo       NaN
7457  2022    18.715000      Padcaya       NaN

[7458 rows x 4 columns]